@import './modules/variables.scss';
@import './modules/mixins.scss';
@import './modules/typography.scss';
@import './modules/normalize.scss';

@import './partials/buttons.scss';
@import './partials/product.scss';
@import './partials/cart.scss';

body {
  background: #5b97cc;
  color: #fff;
}

header {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  text-align: center;
}
